*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .7);
    --clr-dark: rgb(27, 24, 24);
    --clr-light: #fff;
    --clr-grey: #ddd;
}

body {
    margin: 0;
    text-align: center;
    background: var(--clr-light);
    color: var(--clr-dark);
}

.container {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0 auto;
}

.cell {
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid var(--clr-dark);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Remove the Borders surrounding the grid: Start */

.container :first-child,
.container :nth-child(2),
.container :nth-child(3) {
    border-top: none;
}

.container :last-child,
.container :nth-child(8),
.container :nth-child(7) {
    border-bottom: none;
}

.container :nth-child(3n + 1) {
    border-left: none;
}

.container :nth-child(3n + 3) {
    border-right: none;
}
/* Remove the Borders surrounding the grid: Start */



/* Create an 'X' & 'O' using the ::before & ::after psudo elements
: Start */

/* Declare the backgroung colors on top so that the light grey color can 
override the black */
.cell.x::before,
.cell.x::after {
    background-color: black;
}

.cell.o::before,
.cell.o::after {
    background: black;
}

.container.x .cell:not(.x):not(.o):hover::before,
.container.x .cell:not(.x):not(.o):hover::after {
    background: var(--clr-grey);
}

.container.o .cell:not(.x):not(.o):hover::before,
.container.o .cell:not(.x):not(.o):hover::after {
    background: var(--clr-grey);
}

/* Create the 'X' */
.cell.x::before,
.cell.x::after,
/* The following two lines of code adds the hover effect */
.container.x .cell:not(.x):not(.o):hover::before,
.container.x .cell:not(.x):not(.o):hover::after {
    content: '';
    width: calc(var(--cell-size) * .10);
    height: var(--mark-size);
    position: absolute;
}

.cell.x::before,
/* The following line of code adds the hover effect */
.container.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
/* The following line of code adds the hover effect */
.container.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

/* Create the 'O' */
.cell.o::before,
.cell.o::after,
/* The following two lines of code adds the hover effect */
.container.o .cell:not(.x):not(.o):hover::before,
.container.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before,
/* The following line of code adds the hover effect */
.container.o .cell:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.o::after,
/* The following line of code adds the hover effect */
.container.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--cell-size) * .5);
    height: calc(var(--cell-size) * .5);
    background: #fff;
}

/* When the cell already has a mark */
.cell.x,
.cell.o {
    cursor: not-allowed;
}

/* Create an 'X' & 'O' using the ::before & ::after psudo elements
: End */

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    color: var(--clr-light);
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 2rem;
    background-color: var(--clr-light);
    border: 1px solid black;
    padding: .25em .54em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border-color: var(--clr-light);
}

.winning-message.show {
    display: flex;
}

/* Players Input */

#players-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 50px;
    text-align: center;
}

.input-player {
    width: 130px;
    height: 25px;
    border: 1px solid #d1d1d1;
    background: #fff;
    font-size: 15px;
}

.player {
    margin-left: 30px;
    font-size: 20px;
}

#start-button {
    margin-bottom: 30px;
    width: 60px;
    cursor: pointer;
}

/* New game button */
.new-game {
    display: none;
    margin-bottom: 30px;
    cursor: pointer;
}

.new-game-add {
    display: inline;
}




